 <form class="chat-form">
    <input class="chat-form-message" type="text" placeholder="Write your message">
    <input type="submit" value="Send">
  </form>
  <ul>
     <li>
  {{#each this}}
      <h2>{{username}}</h2>
      <p>{{content}}</p>
  {{/each}}
    </li>
  </ul>