 <form class="chat-form">
    <input class="chat-form-message" type="text" placeholder="Write your message">
    <input type="submit" value="Send">
  </form>
  
  {{#each incomingMessages}}
      <h2>{{incomingMessages.username}}</h2>
      <p>{{incomingMessages.content}}</p>
  {{/each}}
