 <form class="chat-form">
    <input class="chat-form-message" type="text" placeholder="Write your message">
    <input type="submit" value="Send">
  </form>
  <ul>
  {{#each this}}
     <li>
      <h2>{{username}}</h2>
      <p>{{message}}</p>
      <p>{{content}}</p>
     </li>
  {{/each}}
  </ul>