  <div class="hip-logo">
        <img src="hipsterlogogenerator_1433420519598.png" alt="hipster-logo">
  </div>

 <form class="login-form" method="post">
    <input class="login-form-username" type="text" placeholder="Username">
    <input type="submit" value="Log In">
  </form>